:root {
    --tabs-border-color: #ABCDEF;
    --tabs-border-size: 3px;
    --tabs-text-color: white;
    --tabs-dark-color: #012345;
    --tabs-lite-color: #345678;
    --tabs-width: 120px;
    --tabs-height: 40px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.tabs {
    width: max-content;
    height: max-content;
    margin: 10px auto;
}

.tab-container {
    position: relative;
    padding-top: var(--tabs-height); 
    height: 600px;
    width: 600px;
    background-color: var(--tabs-dark-color);
    color: var(--tabs-text-color); 
}

.tab-content {
    display: none;
    height: 100%;
    color: var(--tabs-text-color);
}

.tab:target .tab-content, .tab:last-of-type .tab-content{
    display: block;
    background-color: var(--tabs-lite-color);
}

.tab:target ~ .tab:last-of-type .tab-content {
    display: none;
}

#tab1>a, 
#tab2>a, 
#tab3>a{
    text-decoration: none;
    color: var(--tabs-text-color);
}


#tab1 > a {
    --tabs-position:0;   
}
#tab2 > a {
    --tabs-position:1;  
}
#tab3 > a {
    --tabs-position:2;
}
.tab-background{
    background-color: var(--tabs-lite-color);
}
.tab>a {
    text-align: center;
    position: absolute;
    width: calc(var(--tabs-width));
    height: calc(var(--tabs-height) + var(--tabs-border-size));
    top:0;
    left:calc(var(--tabs-width) * var(--tabs-position)); /*Posición de cada pestaña*/
}

.tab:target>a, .tab>:last-of-type>a{
    background-color: var(--tabs-lite-color);
    z-index: 200;
}