:root {
    --tabs-border-color: #ABCDEF;
    --tabs-border-size: 3px;
    --tabs-text-color: white;
    --tabs-dark-color: #012345;
    --tabs-lite-color: #345678;
    --tabs-width: 120px;
    --tabs-height: 40px;
}

.tab-container {
    position: relative;
    padding-top: var(--tabs-height); /*Aquí se colocan las pestañas*/
    height: calc(100vh - var(--tabs-height));
}

.tab-content {
    display: none;
    height: 100%;
}

.tab:target .tab-content, .tab:last-of-type .tab-content{
    display: block;
}

.tab:target ~ .tab:last-of-type .tab-content {
    display: none;
}

#tab1 > a {
    --tabs-position:0;
}
#tab2 > a {
    --tabs-position:1;
}
#tab3 > a {
    --tabs-position:2;
}
.tab>a {
    text-align: center;
    position: absolute;
    width: calc(var(--tabs-width));
    height: calc(var(--tabs-height) + var(--tabs-border-size));
    top:0;
    left:calc(var(--tabs-width) * var(--tabs-position)) /*Posición de cada pestaña*/
}
/*Cambio de color de la pestaña dinámica*/
.tab:target>a, .tab>:last-of-type>a{
    background-color: var(--tabs-lite-color);
    z-index: 200;
}